
body {
    font-family: Montserrat;
    background-color: #f0f8ff;
    margin: 20px;
    background-color: black;
    font-weight: 300;
}

.images {
    display: block;
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    margin: 20px;
    margin-top: 150px;
}


.image {
    border: 3px solid #ffffff;
    box-shadow: 0px 0px 20px #ffffff;
    border-radius: 17px;
    transition: box-shadow 0.5s ease, border 0.5s ease;
    width: 40%;
    height: auto;
}


.image:hover {
    box-shadow: 0px 0px 5px #222222;
    border: 3px solid #222222;
}


.header {
    text-align: center;
    font-size: 80px;
    color: white;
    font-weight: 200;
    text-shadow: 0px 0px 40px #ffffff;
    transition: text-shadow 0.5s ease;
}

.header:hover {
    text-shadow: 0px 0px 5px #003cff;
}

@media (max-width: 1000px) {
    .image {
        width: 90%;
        height: auto;
    }

    body{
        font-weight: 400;
    }

    .header {
        font-size: 50px;
    }

    .images {
    display: block;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    margin: 20px;
    margin-top: 100px;
}
}